<H1> Welcome to our site</H1>


<p>Please feel free to browse our products catalogue</p>


<p>Useful links</p>

    <%= link_to "food Ireland",  "http://www.goodfoodireland.ie"%>!

  <br />

<%= link_to "iofga","http://iofga.org"%>!


    <br />



<%= link_to "bord bia","http://www.bordbia.ie"%>!

